<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <!-- Axios library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    
    <!-- Vue JS  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <title>Boolean Spotify</title>
</head>
<body>
    <div class="wrapper" id='root'>
        <header>
            <img src="logo.png" alt="Logo">
        </header>
        <select v-model="selected">
            <option value='all'>All</option>
            <option :value='genre' v-for="genre in genres"> {{ genre }} </option>
          </select>
        <div class="wrapperCD">
            <div v-for='album in filteredAlbums'>
                <img :src="album.poster" alt="">
                <h4>{{album.title}}</h4>
                <span class="author">{{album.author}}</span>
                <span class="year">{{album.year}}</span>
            </div>
        </div>
    </div>
<script src="script.js"></script>
</body>
</html>