* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .9rem
}

body {
    background-image: url('background2.jpg');
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    border-bottom: 1px solid black;
}

header > img {
    max-height: 80px;
}

.wrapperCD {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
}

.wrapperCD > div{
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 5;
    background-color: grey;
}

.wrapperCD > div > img {
    width: 200px;
    height: 250px;
}